<ng-container *ngIf="orientation === 'vertical'">

  <mat-nav-list>
    <ng-container *ngFor="let l of navLinks">
      <a mat-list-item (click)="setActiveNav(l)" [routerLink]="l.path">{{ l.label }}</a>
    </ng-container>
  </mat-nav-list>

</ng-container>

<ng-container *ngIf="orientation === 'horizontal'">

  <ng-container *ngFor="let l of navLinks">
    <a mat-button (click)="setActiveNav(l)" [routerLink]="l.path">{{ l.label }}</a>
  </ng-container>

</ng-container>
