<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <app-nav></app-nav>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>{{ appTitle$ }}</span>

    </mat-toolbar>

    <section class="inner-content">
      <app-module-nav></app-module-nav>

      <router-outlet></router-outlet>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
