$sides: top, bottom, left, right;

@for $i from 0 to 20 {
  @each $side in $sides {
    .mg-#{$side}-#{$i * 5},
    .mg-#{str-slice($side, 0, 1)}-#{$i * 5} {
      margin-#{$side}: #{$i * 5}px;
    }
    .pad-#{$side}-#{$i * 5},
    .pad-#{str-slice($side, 0, 1)}-#{$i * 5} {
      padding-#{$side}: #{$i * 5}px;
    }
  }
  .mg-#{$i * 5} {
    margin: #{$i * 5}px;
  }
  .pad-#{$i * 5} {
    padding: #{$i * 5}px;
  }
}

@for $i from 0 to 21 {
  .width-#{$i * 5} {
    width: #{percentage($i/20)};
  }
  .max-width-#{$i * 5} {
    max-width: #{percentage($i/20)};
    width: #{percentage($i/20)};
  }
  .min-width-#{$i * 5} {
    min-width: #{percentage($i/20)};
    width: #{percentage($i/20)};
  }
}

@for $i from 1 to 21 {
  .max-h-#{$i * 50},
  .max-#{$i * 50} {
    max-height: #{$i * 50}px;
  }
  .max-min-h-#{$i * 50},
  .max-min-#{$i * 50} {
    max-height: #{$i * 50}px;
    min-height: #{$i * 50}px;
  }
  .min-h-#{$i * 50},
  .min-#{$i * 50} {
    min-height: #{$i * 50}px;
  }
}
