/* You can add global styles to this file, and also import other style files */
//noinspection CssUnknownTarget
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "generators";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-content {
  margin: 20px;
  overflow-y: auto;
}
